<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title style="text-align: center;"><strong>Company</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>
  
    <ion-card-content >
      <ion-button class="btncolor" expand="block"(click)="addPolicy()">Add Policy</ion-button>
      <ion-button class="btncolor" expand="block" (click)="updatePolicy()">Update Policy</ion-button>
      <ion-button class="btncolor" expand="block" (click)="viewPolicy()">View Policy</ion-button>
      <ion-button class="btncolor" expand="block"(click)="requestPolicy()">Request Policies</ion-button>
      <ion-button class="btncolor" expand="block" (click)="requestClaim()">Request Claim</ion-button>
    </ion-card-content>
  </ion-card>
  

</ion-content>
