<ion-header>
  <ion-toolbar class="new-background-color" >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="company"></ion-back-button>
    </ion-buttons>
    <ion-title><strong>Add New  Policy</strong></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Crop Name</ion-label>
        <ion-input type="text" (keyUp)="cNamKeyUp(cname.value)" #cname ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Crop id</ion-label>
        <ion-input type="text" (keyUp)="cIdKeyUp(cid.value)" #cid></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Claim Value For Acre</ion-label>
        <ion-input type="text" (keyUp)="cValueKeyUp(cvalue.value)" #cvalue ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Rate</ion-label>
        <ion-input type="text" (keyUp)="cRateKeyUp(crate.value)" #crate ></ion-input>
      </ion-item>
      <ion-button class="new-background-color" (click)="addNewPolicy()">Add</ion-button>
    </ion-card-content>
  </ion-card>
<ion-content>

