<ion-header>
  <ion-toolbar class="new-background-color" >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="company"></ion-back-button>
    </ion-buttons>
    <ion-title><strong>Add New  Policy</strong></ion-title>
  </ion-toolbar>
</ion-header>
<br><br>
<ion-content>
  
 
    
      <form [formGroup]="policyForm"  >
      <ion-item>
        <ion-label position="fixed">Crop Id</ion-label>
        <ion-input type="text" id="crop_id" class="form-control" formControlName="crop_id" autocomplete="off" ></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="fixed">Crop Name</ion-label>
        <ion-input type="text" id="crop_name" class="form-control" formControlName="crop_name"  autocomplete="off"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">Claim Value For Acre</ion-label>
        <ion-input type="text" id="claim_value_for_Acre" class="form-control" formControlName="claim_value_for_Acre" autocomplete="off"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">Rate</ion-label>
        <ion-input type="text" id="rate" formControlName="rate" class="form-control" autocomplete="off"></ion-input>
      </ion-item>
      
        <ion-button type="submit" (click)="onSubmit()" [disabled]="!policyForm.valid"  >Add</ion-button>
      
    </form>
    
<ion-content>

