<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="company"></ion-back-button>
    </ion-buttons>
    <ion-title>Request Policy</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card color="light" (click)="go()" *ngFor="let d of data">
        
 
      <ion-card-title>PolicyRequest -{{d.id}}</ion-card-title>
    
      <ion-card-content class="si">
       tap to more information
      </ion-card-content>
      <ion-button shape="round"  class="no-padding" (click)="view($event)" id="{{d.id}}" color="secondary">click</ion-button>
    </ion-card>

    
</ion-content>

